.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  justify-content: center; /* tu peux changer en left si tu veux */
}

.wave-logo {
  width: 60px;
  height: 20px;
  stroke: #0ea5e9; /* bleu calme */
  stroke-width: 6;
  fill: none;
  animation: waveMove 3s ease-in-out forwards;
  opacity: 0;
}

@keyframes waveMove {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  40% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
