.logo-container {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 20px;
  justify-content: center;
}

.wave-logo {
  width: 90px;
  height: 35px;
  transform: translateX(-25px);
  opacity: 0;
  animation: waveEnter 1.1s ease-out forwards;
}

@keyframes waveEnter {
  0% {
    transform: translateX(-25px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
